body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    background-color: #1f2937;
    color: white;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-logo {
    float: left;
    display: flex;
    align-items: center;
    font-size: 22px;
}

.navbar-links {
    float: right;
    display: flex;
    align-items: center;
}

.navbar-link {
    padding-left: 20px;
}

.hero {
    display: flex;
    background-color: #1f2937;
    color: white;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 60px;
    align-items: center;
}

.hero-info {
    width: 30%;
    padding: 0px;
}

.hero-main-text {
    font-weight: 900;
    font-size: 48px;
    color: white;
    line-height: 1;
}

.hero-subtext {
    font-size: 18px;
}

.sign-up-button {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: bold;
}

img {
    width: 40%;
    height: auto;
}

.image-shape {
    width: 150px;
    height: 150px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}

.random-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.info-segments {
    display: flex;
    flex-direction: row;
}

.info-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.info-paragraph {
    width: 150px;
    text-align: center;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-text {
    width: 50%;
    font-size: 36px;
    color: #1f2937;
    font-weight: thin;
    font-style: italic;
    margin-bottom: 0px;
}

.quote-speaker {
    font-weight: bold;
    margin-left: 450px;
}

.sign-up-segment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.action-box {
    width: 65%;
    height: 50%;
    background-color: #3882f6;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.action-info-text {
    color: white;
}

.sign-up-button-two {
    background-color: #3882f6;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid white;
    font-weight: bold;

}

.copyright {
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
}